$scroll-padding: 3rem;

// *Gradients
$rock-gradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
$paper-gradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
$scissors-gradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
$lizard-gradient: hsl(261, 73%, 60%), hsl(189, 58%, 57%);

// * Text
$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);

// * Media queries
$desktop: 1366px;
$mobile: 50rem;

.main {
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  max-width: $desktop;
  min-width: 100%;
  margin: auto;
}

.scoreboardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(50% + 6rem);
  min-width: 38rem;
  height: fit-content;
  border: 3px solid $header-outline;
  border-radius: 1rem;
  padding: 1.5rem;
  margin: auto;

  @media screen and (max-width: $mobile) {
    min-width: calc(100% - 4rem);
    width: 100%;
    max-width: calc(100% - 2rem);
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 10px;
  }

  svg {
    @media screen and (max-width: $mobile) {
      width: 5rem;
      height: auto;
      margin-left: 1rem;
    }
  }

  .scoreContainer {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    border-radius: 0.25rem;
    width: 10rem;

    @media screen and (max-width: $mobile) {
      width: 80px;
      padding: 0.5rem 1rem;
    }

    .scoreText {
      color: $score-text;
      letter-spacing: 2px;
      font-weight: 600;

      @media screen and (max-width: $mobile) {
        font-size: 0.75rem;
      }
    }

    .scoreTally {
      color: $dark-text;
      font-size: 4.5rem;
      line-height: 0.9;

      @media screen and (max-width: $mobile) {
        font-size: 2.5rem;
        font-weight: 700;
      }
    }
  }
}

// * GameBoard

.gameBoard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
  // min-width: 100%;
  margin: auto;
  margin-top: 4.5rem;

  .topChoices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    width: 40rem;

    @media screen and (max-width: $mobile) {
      width: 20rem;
    }
  }

  .svgContainer {
    position: absolute;
    // inset: auto;
    top: calc(50% + 2rem);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;

    @media screen and (max-width: $mobile) {
      top: calc(50% + 1.5rem);

      svg {
        width: 14rem;
      }
    }
  }
}

// * Choice Icons

.btn {
  border-radius: 100vw;
  border: none;
  background: none;
  padding: 2px;

  .iconWrapper {
    $size: 9rem;
    width: fit-content;
    border-radius: 100vw;

    overflow: hidden;

    .iconContainer {
      display: grid;
      width: $size;
      height: $size;
      place-items: center;
      border-radius: 100vw;

      background: white;
      // prettier-ignore
      box-shadow: 
          inset 0 8px 0px #00000025,
          0 8px 0px blue;

      padding: 2rem;

      @media screen and (max-width: $mobile) {
        width: calc($size - 3rem);
        height: calc($size - 3rem);
        padding: 1.75rem;
      }

      img {
        width: 4rem;
      }
    }
  }
}

// prettier-ignore
.rock, .paper, .scissors {
  border: 1.5rem solid transparent;

  @media screen and (max-width: $mobile) {
    border: 0.75rem solid transparent;
  }
}

.rock {
  background: linear-gradient($rock-gradient) border-box;
  box-shadow: 0 8px hsl(349, 60%, 40%);
}

.paper {
  background: linear-gradient($paper-gradient) border-box;
  box-shadow: 0 8px hsl(230, 50%, 50%);
}

.scissors {
  background: linear-gradient($scissors-gradient) border-box;
  box-shadow: 0 8px hsl(30, 90%, 40%);
}

// * rules button

.footer {
  position: absolute;
  bottom: 2rem;
  right: 2rem;

  @media screen and (max-width: $mobile) {
    position: absolute;
    bottom: 3rem;
    right: 50%;
    transform: translate(50%);
  }

  .footerButton {
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 0.5rem;
    padding: 0.75rem 2.5rem;
    letter-spacing: 3px;

    transition: 150ms ease;

    &:hover {
      background: white;
      color: $dark-text;
    }
  }
}

// * Rules Modal
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: grid;
  place-items: center;
  transition: 250ms ease all;

  .modalContent {
    position: relative;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    z-index: 1010;

    @media screen and (max-width: $mobile) {
      min-width: 100%;
      min-height: 100%;
      border-radius: 0;
      padding: 0;
    }

    .modalWrapper {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      width: 26rem;
      padding: 2rem;

      @media screen and (max-width: $mobile) {
        position: relative;
        align-items: center;
        width: 100%;
        margin-top: 3rem;
      }

      div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
          display: inline;
          color: $dark-text;
          font-size: 2rem;
          font-weight: 700;
          margin: 0;
        }

        button {
          display: grid;
          place-items: center;
          background: none;
          border: none;
          padding: 0;
          margin: 0;

          @media screen and (max-width: $mobile) {
            position: fixed;
            bottom: 4rem;
            left: 50%;
            transform: translate(-50%);
          }
        }
      }

      div:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
