$scroll-padding: 3rem;

// *Gradients
$rock-gradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
$paper-gradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
$scissors-gradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
$lizard-gradient: hsl(261, 73%, 60%), hsl(189, 58%, 57%);

// * Text
$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);

// * Media queries
$desktop: 1366px;
$mobile: 50rem;

.main {
  position: relative;
  display: grid;
  place-items: center;
  max-width: $desktop;
  height: 100%;
  margin: auto;
}

.scoreboardContainer {
  border: 2px solid $header-outline;
  border-radius: 1rem;
  padding: 1.5rem;

  .title {
    width: min-content;
    line-height: 1.75rem;
    margin: 0;
  }
}

// * rules button

.footer {
  position: absolute;
  bottom: 2rem;
  right: 2rem;

  @media screen and (max-width: $mobile) {
    position: absolute;
    inset: auto auto 2rem auto;
  }

  .footerButton {
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 150ms ease;

    &:hover {
      background: white;
      color: $dark-text;
    }
  }
}
